In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
dataset = pd.read_csv('IRIS.csv')
x = dataset.iloc[:,:4].values
y = dataset['variety'].values
dataset.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [8]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(x_train, y_train)

GaussianNB()

In [9]:
y_pred = classifier.predict(x_test) 
y_pred

array(['Setosa', 'Versicolor', 'Virginica', 'Virginica', 'Virginica',
       'Setosa', 'Virginica', 'Versicolor', 'Setosa', 'Versicolor',
       'Setosa', 'Setosa', 'Setosa', 'Virginica', 'Setosa', 'Virginica',
       'Setosa', 'Setosa', 'Virginica', 'Versicolor', 'Setosa', 'Setosa',
       'Setosa', 'Setosa', 'Virginica', 'Virginica', 'Setosa', 'Setosa',
       'Setosa', 'Virginica'], dtype='<U10')

In [10]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  1.0

array([[16,  0,  0],
       [ 0,  4,  0],
       [ 0,  0, 10]], dtype=int64)

In [11]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

   Real Values Predicted Values
0       Setosa           Setosa
1   Versicolor       Versicolor
2    Virginica        Virginica
3    Virginica        Virginica
4    Virginica        Virginica
5       Setosa           Setosa
6    Virginica        Virginica
7   Versicolor       Versicolor
8       Setosa           Setosa
9   Versicolor       Versicolor
10      Setosa           Setosa
11      Setosa           Setosa
12      Setosa           Setosa
13   Virginica        Virginica
14      Setosa           Setosa
15   Virginica        Virginica
16      Setosa           Setosa
17      Setosa           Setosa
18   Virginica        Virginica
19  Versicolor       Versicolor
20      Setosa           Setosa
21      Setosa           Setosa
22      Setosa           Setosa
23      Setosa           Setosa
24   Virginica        Virginica
25   Virginica        Virginica
26      Setosa           Setosa
27      Setosa           Setosa
28      Setosa           Setosa
29   Virginica        Virginica