In [1]:
import pandas as pd

In [2]:
pat= [5, 4, 4, 3, 9, 4]
jack= [4, 8, 7, 5, 1, 5]
alex= [9, 9, 8, 10, 4, 10]

In [3]:
total = pat + jack + alex
archer_names = (['pat'] * len(pat)) +  (['jack'] * len(jack)) +  (['alex'] * len(alex))

In [4]:
data = pd.DataFrame({'archers': archer_names, 'total': total})

In [5]:
data

   archers  total
0      pat      5
1      pat      4
2      pat      4
3      pat      3
4      pat      9
5      pat      4
6     jack      4
7     jack      8
8     jack      7
9     jack      5
10    jack      1
11    jack      5
12    alex      9
13    alex      9
14    alex      8
15    alex     10
16    alex      4
17    alex     10

In [6]:
data.groupby('archers').mean()

            total
archers
alex     8.333333
jack     5.000000
pat      4.833333

In [7]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [8]:
lm = ols('total ~ archers',data=data).fit()
table = sm.stats.anova_lm(lm)
print(table)

            df     sum_sq    mean_sq         F    PR(>F)
archers    2.0  46.777778  23.388889  4.488273  0.029668
Residual  15.0  78.166667   5.211111       NaN       NaN

In [11]:
import pandas as pd
pat= [5, 4, 4, 3, 9, 4]
jack= [4, 8, 7, 5, 1, 5]
alex= [9, 9, 8, 10, 4, 10]
total = pat + jack + alex
archer_names = (['pat'] * len(pat)) +  (['jack'] * len(jack)) +  (['alex'] * len(alex))
data = pd.DataFrame({'archers': archer_names, 'total': total})
print(data)
data.groupby('archers').mean()
print(data.groupby('archers').mean())
import statsmodels.api as sm
from statsmodels.formula.api import ols
lm = ols('total ~ archers',data=data).fit()
table = sm.stats.anova_lm(lm)
print(table)

   archers  total
0      pat      5
1      pat      4
2      pat      4
3      pat      3
4      pat      9
5      pat      4
6     jack      4
7     jack      8
8     jack      7
9     jack      5
10    jack      1
11    jack      5
12    alex      9
13    alex      9
14    alex      8
15    alex     10
16    alex      4
17    alex     10
            total
archers
alex     8.333333
jack     5.000000
pat      4.833333
            df     sum_sq    mean_sq         F    PR(>F)
archers    2.0  46.777778  23.388889  4.488273  0.029668
Residual  15.0  78.166667   5.211111       NaN       NaN